# =====================================================
# Node
# =====================================================

node_modules/


# =====================================================
# Astro
# =====================================================

.astro/
dist/


# =====================================================
# Build / Cache
# =====================================================

.cache/
.tmp/
.temp/


# =====================================================
# Logs
# =====================================================

*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*


# =====================================================
# Environment
# =====================================================

.env
.env.*
!.env.example


# =====================================================
# OS
# =====================================================

.DS_Store
Thumbs.db


# =====================================================
# Editor
# =====================================================

.vscode/*
!.vscode/settings.json

.idea/


# =====================================================
# Blog posts
#
# 保留 src/content/posts 目录
# 但不上传里面的文章内容
# =====================================================

src/content/posts/**
!src/content/posts/.gitkeep